<div class="container-fluid">
    <div class="row text-white p-4 mt-1 glass-footer">
        <!-- <div class="col-md-6 p-4 bg-secondary d-flex justify-content-center flex-column"></div> -->
        <div class="col-md-3 p-4">
            <h4 class="text-center fw-semibold">Tomato Leaf Disease Detector</h4>
            <hr>
            <div class="d-flex flex-column">
                <a href="/"
                    class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Home</a>
                <a href="/about"
                    class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">About</a>
                <a href="/model"
                    class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Deep
                    learning models</a>
                <a href="/login"
                    class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Login</a>
            </div>
        </div>
        <div class="col-md-3 p-4">
            <h4 class="text-center fw-semibold">Usefull Links</h4>
            <hr>
            <div class="d-flex flex-column">
                <a href="/dataset"
                    class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Know
                    more</a>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <p class="text-center fs-6" style="margin: 0;">
                &copy; 2025 Tomato Vision | All rights reserved
            </p>
        </div>
    </div>
</div>

<style>
    .glass-footer {
      background-color: rgb(0, 0, 0);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    }
    .glass-footer h4 {
        color: #e74c3c; /* Tomato red */
        font-weight: 800;
    }
    .glass-footer a {
        color: #dcd107 !important; /* Green */
        transition: color 0.2s;
        font-weight: 700;
    }
    .glass-footer a:hover {
        color: #2980b9 !important; /* Blue on hover */
    }
    .glass-footer hr {
        border-top: 2px solid #e67e22; /* Orange */
        opacity: 1;
    }
    .glass-footer p {
        color: #f9fafa;
        font-weight: 700;
    }
</style>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
